package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.*;
import com.wxm.msfast.base.common.entity.BaseEntity;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}Entity extends BaseEntity {


    #foreach ($column in $columns)
        #if($column.columnName != "id" and $column.columnName != "creator" and $column.columnName !=
            "create_time" and $column.columnName != "modifyer" and $column.columnName !=
            "modify_time" and $column.columnName != "del_flag" and $column.columnName != "version")
            /**
             * $column.comments
             */
            private $column.attrType $column.attrname;
        #end
    #end

}
